## Basic Data types in Python

![title](img/data_types.png)

## Numbers
Numbers are generally used when we are doing some math operations on it

In [ ]:
# integers

In [ ]:
print(4)

4

In [ ]:
print(-100)

-100

In [ ]:
type(5)

int

In [ ]:
type(-100)

int

In [ ]:
# float
print(2.3)

2.3

In [ ]:
print(-100.3)

-100.3

In [ ]:
type(2.3)

float

In [ ]:
type(-100.3)

float

## Booleans
logical values indicating True or False

In [ ]:
# True or False

In [ ]:
a = False
print(type(True))

<class 'bool'>

In [ ]:
b = False
print(type(b))

<class 'bool'>

In [ ]:
a = 5
print(type(a))

<class 'int'>

## Strings
Series of characters enclosed withing single or double quotes

In [ ]:
# single quotes

In [ ]:
a = 'vikram'
print(a)
b = 'is doing Python'
print(b)
print(type(b))

vikram
is doing Python
<class 'str'>

In [ ]:
# type(a)
type(b)

str

In [ ]:
# double quotes

In [ ]:
a = "hello"
b = "python"
print(a)
print(b)

hello
python

In [ ]:
# type(a)
type(b)

str

In [ ]:
# required string = I'm Learning python 

# 1) using single quotes
a = 'I\'m Learning python'
print(a)
print(type(a))

# 2) using double quotes
b = "I'm Learning python"
print(b)
print(type(b))

I'm Learning python
<class 'str'>
I'm Learning python
<class 'str'>

In [ ]:
# required string = I am Learning "python" 

# 1) using single quotes
a = 'I am Learning "python"'
print(a)
print(type(a))

# 2) using double quotes
b = "I am Learning \"python\""
print(b)
print(type(b))

I am Learning "python"
<class 'str'>
I am Learning "python"
<class 'str'>

In [ ]:
# len()
# returns the length of the string

a = "Python"
len(a)

6

In [ ]:
#Note : spaces are also counted
b = 'Welcome to python'
len(b)

17

### String indexing

* indexing
![title](img/indexing.png)

* reverse indexing
![title](img/rev_indexing.png)

In [ ]:
# examples on indexing
a = "hello i am sachin"
print(a[0])

h

In [ ]:
print(a[1])

e

In [ ]:
print(a[4])

o

In [ ]:
print(a[-1])

n

In [ ]:
print(a[-2])

i

### Slicing

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [ ]:
# examples
a = "hello world"

#to grab "hello"
a[0:5:1] # same as a[:5]

'hello'

In [ ]:
# to grab 'world'

# 1) using positive indexes
a[6:]

'world'

In [ ]:
# 2) using negative indexes
a[-5:] # gets the last 5 characters.

'world'

In [ ]:
# to get alternated characters from the string,specify step = 2
a[::2]

'hlowrd'

In [ ]:
# to get the reverse of a string
a[::-1]

'dlrow olleh'

## Concatination

In [ ]:
str1 = 'A'
str2 = 'B'
str3 = str1+str2
print(str3)

AB

In [ ]:
first_name = 'kamlesh '
last_name = 'gudli'
full_name = first_name+last_name
print(full_name)

kamlesh gudli

In [ ]:
# Error
a = 5
b = 6
print(a+b)

11

##### Note : before concatinating, make sure both the variable are of string type. Because string concatination can only be performed with strings ,no other data types can be used to concatinate with the string

## Immutability

In [ ]:
name = "Tree"

In [ ]:
# cannot change like this.Because strings are immutable
name[0] = "F"

TypeError: 'str' object does not support item assignment

In [ ]:
# work around
"F" + name[1:]

'Free'

## Some inbuilt functions

In [ ]:
# 1) .upper()
a = 'hello world'
print(a.upper())

HELLO WORLD

In [ ]:
# 2) .lower()
print(a.lower())

hello world

In [ ]:
# 3) .startswith()
print(a.startswith("h"))

True

In [ ]:
# 4) .endswith()
print(a.endswith('d'))

True

In [ ]:
# 5) .capitalize()
print(a)
print(a.capitalize())

hello world
Hello world

### Task 1 & 2

In [ ]:
# task 1) go through some of the other in built functions

# task 2) 

# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"

In [ ]:
a=-7 ##abs() it returns absolute value of function
abs(a)

7

In [ ]:
x=38 ##it returns the boolean value of specified object
print(bin(x))

0b100110

In [ ]:
a=2.2565415 ##returs a float function
float(a)

2.2565415

In [ ]:
x =complex(3,5) ##it return complex number
print(x)

(3+5j)

In [ ]:
print(str1)

Welcome to python

In [4]:
str1="welcome to python"
if 'to'in str1:
  print("found")
else:
  print("not found")

found