## Sets
In Python sets are written with curly brackets.
#### Important properties of sets

* Can store different data types
* Duplicate values are not allowed
* Order is not retained
* Indexing and slicing is not possible

In [ ]:
set1 = {2,3,4.4,True,"python"}

In [ ]:
set1

{2, 3, 4.4, True, 'python'}

In [ ]:
set2 = {1,2,3,4,1,2,1,1,4,3}

In [ ]:
set2

{1, 2, 3, 4}

In [ ]:
set3 = {"a",1,"b",2,3}

In [ ]:
set3

{1, 2, 3, 'a', 'b'}

In [ ]:
# check the type using type()
type(set2)

set

In [ ]:
# to check the length of the sets
len(set1)

5

#### Indexing and Slicing is not allowed in sets

In [ ]:
# try to index
set1[0]

TypeError: 'set' object is not subscriptable

#### empty set

In [ ]:
set4 = {}
set4

{}

In [ ]:
type(set4)

dict

In [ ]:
# to create empty sets
set4 = set()
type(set4)

set

#### Mutablility
Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

#### In built methods.
##### * To add the elements

##### 1) add(item)
adds single item to the set

In [ ]:
set1 = {1,2,3,4,6}
# set1
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [ ]:
set1.add(7)
set1

{1, 2, 3, 4, 6, 7}

##### 2) .update(list)
this method is used to add more than one items. All the items should be passed in the form of lists

In [ ]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

#### 3) copy()
to copy a set

In [ ]:
set2 = set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 8}

##### * To remove the items

##### 4) remove(item)
removes the specified item from the set. If specified item is not present it will raise error

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1.remove(2)
set1

{3, 4, 5, 6, 7, 8}

In [ ]:
#Gives error because 2 is not present
set1.remove(2)
set1

KeyError: 2

##### 5) discard(item)
removes the specified item from the set.But if the item is not present then it will not raise error

In [ ]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
set1.discard(1)
set1

{2, 3, 4, 5, 6}

In [ ]:
set1.discard(2)
set1

{3, 4, 5, 6}

In [ ]:
# will not give the error if 2 is not there
set1.discard(2)
set1

{3, 4, 5, 6}

##### 6) pop()
Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [ ]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

In [ ]:
set1.pop()

2

##### 7) clear()
empties the set

In [ ]:
set1

{3, 4, 'B', 'a', 'c'}

In [ ]:
set1.clear()
set1

set()

##### * Other inbuilt methods

##### 8) union()

returns a new set with all the elements from set1 and set2

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

##### 9) intersection()
returns the common element from both the sets

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
set2

{4, 5, 6, 7, 8}

In [ ]:
set3 = set1.intersection(set2)
set3

{4, 5}

### Task7 - go through other inbuilt methods like
1) difference()
2) symmetric_difference()

In [4]:
a ={1,2,3}
b ={1,5,4}
c =a.difference((b))
print (c)

{2, 3}

In [7]:
a ={1,2,3,4,5}
b={1,2,3}
c =b.symmetric_difference((a))
print(c)

{4, 5}

### Task8 - Make a table of all the In-built data structures and Point out the differences one by one
What are Data Structures in Python?

###Data Structure #1: Lists in Python

1.Creating Lists

2.Accessing List elements

3.Appending values in Lists

4.Removing elements from Lists

5.Sorting Lists

6.Concatenating Lists


List comprehensions

Stacks & Queues using Lists

####Data Structure #2: Tuples in Python

1.Creating Tuples in Python

2.Immutability of Tuples

3.Tuple assignment

4.Changing Tuples values

5.Data Structure #3: Dictionary in Python

6.Generating Dictionary

7.Accessing keys and values

########Data Structure #4: Sets in Python

1.Add and Remove elements from Sets

2.Sets Opera