## if condition

In [ ]:
"""
syntax of if

if(condition/s):
    statement1
    statement2
    ..........
"""

In [ ]:
#Ex1)
num1 = 10
num2 = 10

if(num1 == num2):
    print("Both the numbers are same")

Both the numbers are same

In [ ]:
#Ex2)
num1 = 11
num2 = 10
if(num1 != num2):
    print("Numbers are diff")

Numbers are diff

## Indentation
whitespace at the beginning of a line

In [ ]:
#Ex1)
if(4>2):
print("A") #ERROR

IndentationError: expected an indented block (<ipython-input-3-acbc0b46bff6>, line 3)

In [ ]:
#Ex2)
if(4>2):
    print("A")
        print("B") #Error

IndentationError: unexpected indent (<ipython-input-4-7e651452fc72>, line 4)

In [ ]:
#Ex3)
if(4>2):
        print("A")
    print("B") #Error

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
#Ex4)
if(4>2):
        print("A")
        print("B") #Valid
        print("C") #Valid

A
B
C

## if.. else..

In [ ]:
"""
syntax of if else

if(condition/s):
    statement1
    statement2
    ..........
else:
    statement1
    statement2
    ..........
"""

In [ ]:
#Ex1) 
num1 = 10
num2 = 5

if(num1 == num2):
    print("equal")
else:
    print("Not equal")

Not equal

In [ ]:
#Ex2)
if(num1<num2):
    print("num1 is less than num2")
else:
    print("num1 is greater than num2")

num1 is greater than num2

## if .. elif .. else

In [ ]:
"""
syntax of if else

if(condition/s):
    statement1
    statement2
    ..........
elif(condition/s):
    statement1
    statement2
    ..........
else:
    statement1
    statement2
    ..........
"""

In [ ]:
#Ex1)
num1 = 10
num2 = 10

if(num1 == num2):
    print("Equal")
elif(num1>num2):
    print('num1 is greater than num2')
    
else:
    print('num1 is less than num2')

Equal

## Multiple conditions
by using or & and operators

In [ ]:
#Ex1) or
num1 =7
# it should be positive
# or it should be divisible by 2
# or it should be divisible by 3

if(num1>0 or num1%2 == 0 or num1%3 == 0):
    print("Satisfied")
else:
    print("Not satisfied")

Satisfied

In [ ]:
#Ex2) and
num1 = 6
if(num1>0 and num1%2 == 0 and num1%3 == 0):
    print("Satisfied")
else:
    print("Not satisfied")

Satisfied

## Nested if else

In [ ]:
#Ex1)
num1 = 3
if(num1>0):
    print("positive number")
    if(num1%2 == 0):
        print("Divisible by 2")
    elif(num1%3 == 0):
        print("Divisible by 3")
    else:
        print("Not divisible by 2 or 3")
else:
    print("negative number")

positive number
Divisible by 3

### Task9
* Ask 2 numbers from users and store it in num1 and num2
* Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
* based on number given by user do the math operation

In [ ]:
num1 = int(input("Enter the number :"))
num2 = int(input("Enter the secounf number:"))
print(num1)
print(num2)

Enter the number :8
Enter the secounf number:7
8
7

In [1]:
num1 = int(input("Enter the number 1"))
num2 = int(input("Enter the number 2"))
print("Choose no to perform the operation")
ch = input("Enter the no \n 1 for addtion\n 2 for subtration \n 3 for Multipilication \n 4 for division")
result = 0
if ch == '1':
  result = num1 + num2
elif ch == '2':
  result = num1 - num2
elif ch == '3':
  result = num1*num2
elif ch =='4':
  result = num1 / num2
else:
  print("entered no is not valid or might be wrong")
print("RESULT IS :",result)

Enter the number 16
Enter the number 23
Choose no to perform the operation
Enter the no
 1 for addtion
 2 for subtration
 3 for Multipilication
 4 for division1
RESULT IS : 9